header {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    top: 0px;
    background-color: antiquewhite;
}

footer {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    bottom: 0px;
    background-color: aqua;
}

#content-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

